---
title: Auditing Performance
---

<div class="jumbotron"><h1>Auditing Performance</h1></div>

<div class="page-header">
  <h2>Browser DevTools</h2>
</div>

<div class="alert alert-success float-right">
  <p>We are most familiar with Chrome and so all of the browser examples will follow suit. However, most of the tools demoed are available in all browsers.</p>
</div>

<p>Every browser has a powerful set of <strong>development tools</strong> (DevTools) lurking inside, waiting for you to unlock its full potential. Every type of browser performance problem, from page loads to animation jank, can be debugged directly in the browser. We will cover the most oft-used tools.</p>
<br class="clear">

<div class="tools col2">
  {% for tool in site.audit %}
    {% if tool.type == 'devtool' %}{% include list-tools.html %}{% endif %}
  {% endfor %}
</div>

<div class="page-header">
  <h2>Auditing Services</h2>
</div>

<p>These tools are hosted services, meaning you don't have to rely on your personal internet connection to perform an audit. Some have the ability to throttle the connection, or choose where in the world the test is run. They all have APIs and tests can be run as part of a workflow.</p>

<div class="tools col2">
  {% for tool in site.audit %}
    {% if tool.type == 'service' %}{% include list-tools.html %}{% endif %}
  {% endfor %}
</div>

<div class="page-header">
  <h2>Activities</h2>
</div>

<p>How many of these goals can you complete?</p>

<div class="panel panel-success tasks">
  <div class="panel-heading"><h3 class="panel-title">Browser DevTools</h3></div>
  <div class="panel-body">
    <ol>
      <li><input type="checkbox"> <span>Use the <strong>Network tab</strong> to see the total page weight and time until DOMContentLoaded event.</span></li>
      <li><input type="checkbox"> <span>Use the <strong>Network tab</strong> to find the heaviest resource on a web page.</span></li>
      <li><input type="checkbox"> <span>Use the <strong>Network tab</strong> to find the resource with the most latency.</span></li>
      <li><input type="checkbox"> <span>Look at the life cycle of the latent request and determine where the latency ocurred.</span></li>
    </ol>
  </div>
</div>

<div class="panel panel-success tasks">
  <div class="panel-heading"><h3 class="panel-title">Auditing Services</h3></div>
  <div class="panel-body">
    <ol>
      <li><input type="checkbox"> <span>Use <strong>Google PageSpeed</strong> to analyze a web page.</span></li>
      <li><input type="checkbox"> <span>Use <strong>WebPageTest</strong> to analyze a web page.</span></li>
      <li><input type="checkbox"> <span>From WPT, click the "$$$" indicator to see how much the site costs in various countries.</span></li>
    </ol>
  </div>
</div>
