---
title: Auditing Performance
---

<div class="jumbotron"><h1>Auditing Performance</h1></div>

<div class="page-header">
  <h2>Browser DevTools</h2>
</div>

<div class="alert alert-success float-right">
  <p>We are most familiar with Chrome and so all of the browser examples will follow suit. However, most of the tools demoed are available in all browsers.</p>
</div>

<p>Every browser has a powerful set of <strong>development tools</strong> (DevTools) lurking inside, waiting for you to unlock its full potential. Every type of browser performance problem, from page loads to animation jank, can be debugged directly in the browser. We will cover the most oft-used tools.</p>
<br class="clear">

<div class="tools col2">
  {% for tool in site.audit %}
    {% if tool.type == 'devtool' %}{% include list-tools.html %}{% endif %}
  {% endfor %}
</div>

<div class="page-header">
  <h2>Auditing Services</h2>
</div>

<p>These tools are hosted services, meaning you don't have to rely on your personal internet connection to perform an audit. Some have the ability to throttle the connection, or choose where in the world the test is run. They all have APIs and tests can be run as part of a workflow.</p>

<div class="tools col2">
  {% for tool in site.audit %}
    {% if tool.type == 'service' %}{% include list-tools.html %}{% endif %}
  {% endfor %}
</div>

<div class="page-header">
  <h2>Activities</h2>
</div>

<p>How many of these goals can you complete?</p>

{% for activity in site.audit %}
  {% if activity.type == 'activity' %}{% include list-tasks.html %}{% endif %}
{% endfor %}
