---
title: Drupal modules
---

<div class="jumbotron"><h1>Drupal modules</h1></div>

<p>Drupal offers a number of modules specifically designed to improve frontend performance. Combined with a well-made theme, these modules can help your Drupal sites fly!</p>

<dl class="tools col2">
  {% for tool in site.drupal %}
    {% include list-tools.html %}
  {% endfor %}
</dl>

<div class="page-header">
  <h2>Activities</h2>
</div>

<p>How many of these goals can you complete?</p>

{% for activity in site.drupal %}
  {% if activity.type == 'activity' %}{% include list-tasks.html %}{% endif %}
{% endfor %}
