---
title: Drupal modules
---

<div class="jumbotron"><h1>Drupal modules</h1></div>

<p>Drupal offers a number of modules specifically designed to improve frontend performance. Combined with a well-made theme, these modules can help your Drupal sites fly!</p>

<dl class="tools col2">
  {% for tool in site.drupal %}
    {% include list-tools.html %}
  {% endfor %}
</dl>

<div class="page-header">
  <h2>Activities</h2>
</div>

<p>How many of these goals can you complete?</p>

<div class="panel panel-success tasks">
  <div class="panel-heading"><h3 class="panel-title">CSS/JS Optimization</h3></div>
  <div class="panel-body">
    <ol>
      <li><input type="checkbox"> <span>Use the <strong>Magic module</strong> to move your scripts to the bottom.</span></li>
      <li><input type="checkbox"> <span>Use the <strong>Magic module</strong> to retain jQuery in the <code>&lt;head&gt;</code>.</span></li>
      <li><input type="checkbox"> <span>Use the <strong>AdvAgg module</strong> to generate compressed assets.</span></li>
      <li><input type="checkbox"> <span>Use the <strong>AdvAgg module</strong> to minify JavaScript.</span></li>
    </ol>
  </div>
</div>

<div class="panel panel-success tasks">
  <div class="panel-heading"><h3 class="panel-title">Theming Optimization</h3></div>
  <div class="panel-body">
    <ol>
      <li><input type="checkbox"> <span>Use the <strong>Modernizr module</strong> to conditionally load a stylesheet (using <code>.info</code> file).</span></li>
      <li><input type="checkbox"> <span>Use the <strong>Modernizr API</strong> to conditionally load a polyfill (using <code>template.php</code> or a custom module).</span></li>
      <li><input type="checkbox"> <span>Add a <strong>DNS pre-fetch</strong> to your theme's page template</span></li>
      <li><input type="checkbox"> <span>Add a <strong>prerender</strong> to your theme's page template (must use Chrome or IE11 to test).</span></li>
    </ol>
  </div>
</div>


<div class="panel panel-success tasks">
  <div class="panel-heading"><h3 class="panel-title">Media optimization</h3></div>
  <div class="panel-body">
    <ol>
      <li><input type="checkbox"> <span>Use the <strong>Picture module</strong> to add responsive images to your site.</span></li>
      <li><input type="checkbox"> <span>Use the <strong>Image Lazyloader module</strong> to defer images until they are actually seen.</span></li>
      <li><input type="checkbox"> <span>Use the <strong>CDN module</strong> to geographically distribute your site's assets.</span></li>
    </ol>
  </div>
</div>
