---
title: Workflow Automation
---

<div class="jumbotron"><h1>Workflow Automation</h1></div>

<div class="panel panel-info float-right">
  <div class="panel-heading">
    <h3 class="panel-title">Using within Drupal</h3>
  </div>
  <div class="panel-body">
    <p>Many people place these tools in the primary theme folder of their site. However, it is often more useful to put them in the root of your website, so that both custom modules and themes can share the same workflow, coding standards, and so forth.</p>
  </div>
</div>

<p>Sometimes installing a few modules won't cut it, and you'll need to rely on additional tools to improve your theme's output. A theme is often the source of many images, scripts, and other things that slow the frontend down.</p>
<p>Using a consistent process to make sure all of your assets are always lean is a good way to control the page weight of a site.</p>

<h3>Automation tools</h3>

<p>With these tools you will be able to capture repetitive tasks and run them automatically whenever you need them. It might be as frequent as a file save, or only once per deploy. But either way, having an automated workflow is less error-prone and more reliable than manually remembering and executing the tasks.</p>

<div class="tools col2">
  {% for tool in site.automation %}
    {% if tool.type == 'tool' %}{% include list-tools.html %}{% endif %}
  {% endfor %}
</div>

<h3>Optimization tools</h3>

<p>Here is a list of tools we frequently use in our frontend workflow:</p>

<div class="tools col2">
  {% for tool in site.workflow %}
    {% if tool.type == 'tool' %}{% include list-tools.html %}{% endif %}
  {% endfor %}
</div>

<div class="page-header">
  <h2>Activities</h2>
</div>

{% include goals-codebase.html %}

{% for activity in site.workflow %}
  {% if activity.type == 'activity' %}{% include list-tasks.html %}{% endif %}
{% endfor %}
