---
title: Workflow Automation
---

<div class="page-header"><h1>Workflow Automation</h1></div>

<p>Sometimes installing a module won't cut it, and you'll need to rely on additional tools to improve your workflow itself. In the context of Drupal these are often handled within your theme.</p>

<h3>Automation tools</h3>

<p>With these tools you will be able to capture repetitive tasks and run them automatically whenever you need them. It might be as frequent as a file save, or only once per deploy. But either way, having an automated workflow is less error-prone and more reliable than manually remembering and executing the tasks.</p>

<div class="tools">
  {% for tool in site.automation %}
    {% include list-tools.html %}
  {% endfor %}
</div>

<h3>Optimization tools</h3>

<p>Here is a list of tools we frequently use in our frontend workflow:</p>

<div class="tools">
  {% for tool in site.workflow %}
    {% include list-tools.html %}
  {% endfor %}
</div>
