// -----------------------------------------------------------------------------
//   Fonts
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Droid Sans';
  src: url('//fonts.googleapis.com/css?family=Droid+Sans:400');
  font-weight: normal;
  font-style: normal;
}

$droid-sans: 'Droid Sans', sans-serif;
