// -----------------------------------------------------------------------------
//   Main content area
// -----------------------------------------------------------------------------

main {
  // Classes to make informational sidebars.
  // Often used with .panel class.
  .float-left {
    width: 35%;
    float: left;
    margin-right: 5%;
  }
  .float-right {
    width: 35%;
    float: right;
    margin-left: 5%;
  }
}
