// -----------------------------------------------------------------------------
//   Repo info
// -----------------------------------------------------------------------------

.repo {
  padding-top: 1em;
  padding-left: 1em;
  font-size: 2.2em;
}
