// -----------------------------------------------------------------------------
//   Activities and Tasks
// -----------------------------------------------------------------------------

.tasks {
  // Allow for some nudging of elements within spacific tasks.
  .desc {
    position: relative;

    // For the GH+Travis activity
    .btn-merge {
      position: absolute;
      top: -10px;
      right: -155px;
    }
  }

  // Make the checkbox a little bigger
  input[type="checkbox"] {
    font-size: 1.25em;
    margin-right: .25em;
  }

  // Mark tasks as "done"
  input[type="checkbox"]:checked + .desc {
    text-decoration: line-through;
  }
}
