// -----------------------------------------------------------------------------
//   Tools
// -----------------------------------------------------------------------------

.tools {
  margin: 2em 0;

  .tool {
    float: left;
    width: 47.5%;
    margin-right: 5%;

    &:nth-of-type(2n) {
      float: right;
      margin-right: 0;
    }
  }
}
