// -----------------------------------------------------------------------------
//   Tool lists
// -----------------------------------------------------------------------------

.tools {
  margin-bottom: 2em;
}

// -----------------------------------------------------------------------------
//   Tools
// -----------------------------------------------------------------------------

.tool {
  &__title {
    border-bottom: 1px solid #ddd;
    margin-bottom: .5em;
    font-size: 1.8em;
  }

  &__description {
    // something
  }

  &__links {
    margin-bottom: 2em;
  }
}
