// -----------------------------------------------------------------------------
//   Wifi info
// -----------------------------------------------------------------------------

.wifi {
  padding-top: 1em;
  font-size: 3em;
  padding-left: 6em;
}
